{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": "babel-plugin-root-import"
  },
  "rules": {
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "no-mixed-operators": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["OutboundLink"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "react/no-array-index-key": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  }
}
