{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": { "ecmaFeatures": { "jsx": true } },
  "settings": {
    "import/resolver": "babel-plugin-root-import"
  },
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-loop-func": 0,
    "react/no-array-index-key": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  }
}
