{
  "parser": "babel-eslint", // https://github.com/babel/babel-eslint
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "__DEV__": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "rules": {
    "no-var": "error",                     // http://eslint.org/docs/rules/no-var
    "prefer-const": "error",               // http://eslint.org/docs/rules/prefer-const

    /**
     * Variables
     */
    "no-shadow": "error",                  // http://eslint.org/docs/rules/no-shadow
    "no-shadow-restricted-names": "error", // http://eslint.org/docs/rules/no-shadow-restricted-names
    "no-undef": "error",                   // http://eslint.org/docs/rules/no-undef
    "no-unused-vars": [2, {          // http://eslint.org/docs/rules/no-unused-vars
      "vars": "local",
      "args": "after-used"
    }],
    "no-use-before-define": "error",       // http://eslint.org/docs/rules/no-use-before-define

    /**
     * Possible errors
     */
    "no-cond-assign": [2, "always"], // http://eslint.org/docs/rules/no-cond-assign
    "no-console": 1,                 // http://eslint.org/docs/rules/no-console
    "no-debugger": 1,                // http://eslint.org/docs/rules/no-debugger
    "no-alert": 1,                   // http://eslint.org/docs/rules/no-alert
    "no-constant-condition": 1,      // http://eslint.org/docs/rules/no-constant-condition
    "no-dupe-keys": "error",               // http://eslint.org/docs/rules/no-dupe-keys
    "no-duplicate-case": "error",          // http://eslint.org/docs/rules/no-duplicate-case
    "no-empty": "error",                   // http://eslint.org/docs/rules/no-empty
    "no-ex-assign": "error",               // http://eslint.org/docs/rules/no-ex-assign
    "no-extra-boolean-cast": 0,      // http://eslint.org/docs/rules/no-extra-boolean-cast
    "no-extra-semi": "error",              // http://eslint.org/docs/rules/no-extra-semi
    "no-func-assign": "error",             // http://eslint.org/docs/rules/no-func-assign
    "no-inner-declarations": "error",      // http://eslint.org/docs/rules/no-inner-declarations
    "no-invalid-regexp": "error",          // http://eslint.org/docs/rules/no-invalid-regexp
    "no-irregular-whitespace": "error",    // http://eslint.org/docs/rules/no-irregular-whitespace
    "no-obj-calls": "error",               // http://eslint.org/docs/rules/no-obj-calls
    "no-sparse-arrays": "error",           // http://eslint.org/docs/rules/no-sparse-arrays
    "no-unreachable": "error",             // http://eslint.org/docs/rules/no-unreachable
    "use-isnan": "error",                  // http://eslint.org/docs/rules/use-isnan
    "block-scoped-var": "error",           // http://eslint.org/docs/rules/block-scoped-var

    /**
     * Best practices
     */
    "consistent-return": "error",          // http://eslint.org/docs/rules/consistent-return
    "curly": [2, "multi-line"],      // http://eslint.org/docs/rules/curly
    "default-case": "error",               // http://eslint.org/docs/rules/default-case
    "dot-notation": [2, {            // http://eslint.org/docs/rules/dot-notation
      "allowKeywords": true
    }],
    "eqeqeq": "error",                     // http://eslint.org/docs/rules/eqeqeq
    "guard-for-in": "error",               // http://eslint.org/docs/rules/guard-for-in
    "no-caller": "error",                  // http://eslint.org/docs/rules/no-caller
    "no-else-return": "error",             // http://eslint.org/docs/rules/no-else-return
    "no-eq-null": "error",                 // http://eslint.org/docs/rules/no-eq-null
    "no-eval": "error",                    // http://eslint.org/docs/rules/no-eval
    "no-extend-native": "error",           // http://eslint.org/docs/rules/no-extend-native
    "no-extra-bind": "error",              // http://eslint.org/docs/rules/no-extra-bind
    "no-fallthrough": "error",             // http://eslint.org/docs/rules/no-fallthrough
    "no-floating-decimal": "error",        // http://eslint.org/docs/rules/no-floating-decimal
    "no-implied-eval": "error",            // http://eslint.org/docs/rules/no-implied-eval
    "no-lone-blocks": "error",             // http://eslint.org/docs/rules/no-lone-blocks
    "no-loop-func": "error",               // http://eslint.org/docs/rules/no-loop-func
    "no-multi-str": "error",               // http://eslint.org/docs/rules/no-multi-str
    "no-native-reassign": "error",         // http://eslint.org/docs/rules/no-native-reassign
    "no-new": "error",                     // http://eslint.org/docs/rules/no-new
    "no-new-func": "error",                // http://eslint.org/docs/rules/no-new-func
    "no-new-wrappers": "error",            // http://eslint.org/docs/rules/no-new-wrappers
    "no-octal": "error",                   // http://eslint.org/docs/rules/no-octal
    "no-octal-escape": "error",            // http://eslint.org/docs/rules/no-octal-escape
    "no-param-reassign": "error",          // http://eslint.org/docs/rules/no-param-reassign
    "no-proto": "error",                   // http://eslint.org/docs/rules/no-proto
    "no-redeclare": "error",               // http://eslint.org/docs/rules/no-redeclare
    "no-return-assign": "error",           // http://eslint.org/docs/rules/no-return-assign
    "no-script-url": "error",              // http://eslint.org/docs/rules/no-script-url
    "no-self-compare": "error",            // http://eslint.org/docs/rules/no-self-compare
    "no-sequences": "error",               // http://eslint.org/docs/rules/no-sequences
    "no-throw-literal": "error",           // http://eslint.org/docs/rules/no-throw-literal
    "no-with": "error",                    // http://eslint.org/docs/rules/no-with
    "radix": "error",                      // http://eslint.org/docs/rules/radix
    "vars-on-top": "error",                // http://eslint.org/docs/rules/vars-on-top
    "yoda": "error",                       // http://eslint.org/docs/rules/yoda

    /**
     * Style
     */
    "indent": ["error", 2, {
      "SwitchCase": 1,
    }],          // http://eslint.org/docs/rules/indent
    "brace-style": [
      2,
      "1tbs", {
        "allowSingleLine": true
      }
    ],                               // http://eslint.org/docs/rules/brace-style
    "quotes": [
      "warn", "single", "avoid-escape"    // http://eslint.org/docs/rules/quotes
    ],
    "camelcase": [2, {               // http://eslint.org/docs/rules/camelcase
      "properties": "never"
    }],
    "comma-spacing": [2, {           // http://eslint.org/docs/rules/comma-spacing
      "before": false,
      "after": true
    }],
    "comma-style": [2, "last"],      // http://eslint.org/docs/rules/comma-style
    "eol-last": "error",                   // http://eslint.org/docs/rules/eol-last
    "func-names": 1,                 // http://eslint.org/docs/rules/func-names
    "key-spacing": [2, {             // http://eslint.org/docs/rules/key-spacing
      "beforeColon": false,
      "afterColon": true
    }],
    "new-cap": [0, {                 // http://eslint.org/docs/rules/new-cap
      "newIsCap": true
    }],
    "no-multiple-empty-lines": [2, { // http://eslint.org/docs/rules/no-multiple-empty-lines
      "max": 2
    }],
    "no-nested-ternary": "error",          // http://eslint.org/docs/rules/no-nested-ternary
    "no-new-object": "error",              // http://eslint.org/docs/rules/no-new-object
    "no-spaced-func": "error",             // http://eslint.org/docs/rules/no-spaced-func
    "no-trailing-spaces": "error",         // http://eslint.org/docs/rules/no-trailing-spaces
    "no-extra-parens": [2, "functions"], // http://eslint.org/docs/rules/no-extra-parens
    "no-underscore-dangle": 0,       // http://eslint.org/docs/rules/no-underscore-dangle
    "one-var": [2, "never"],         // http://eslint.org/docs/rules/one-var
    "padded-blocks": [2, "never"],   // http://eslint.org/docs/rules/padded-blocks
    "semi": [2, "always"],           // http://eslint.org/docs/rules/semi
    "semi-spacing": [2, {            // http://eslint.org/docs/rules/semi-spacing
      "before": false,
      "after": true
    }],
    "space-before-blocks": "error",        // http://eslint.org/docs/rules/space-before-blocks
    "space-before-function-paren": [2, "never"], // http://eslint.org/docs/rules/space-before-function-paren
    "space-infix-ops": "error",            // http://eslint.org/docs/rules/space-infix-ops
    "spaced-comment": [2, "always",  {// http://eslint.org/docs/rules/spaced-comment
      "exceptions": ["-", "+"],
      "markers": ["=", "!"]           // space here to support sprockets directives
    }],
    // React
    "jsx-quotes": [2, "prefer-double"],
    "react/display-name": 0,
    "react/jsx-boolean-value": "warn",
    "react/jsx-no-undef": "error",
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/no-did-mount-set-state": [2, "allow-in-func"],
    "react/no-did-update-set-state": "error",
    "react/no-multi-comp": "error",
    "react/no-unknown-property": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "react/self-closing-comp": "error",
    "react/sort-comp": "error",
    "react/wrap-multilines": "error"
  },
  "plugins": [
    "react"
  ]
}
