.ContentBlock
    position: relative
    width: 100%
    height: 100vh

    background-size: cover
    background-position: center center

    &__titleWrapper
        height: 5rem

        @media (min-width: $sm-threshold)
            font-size: 3rem
            height: 10rem

        @media (min-width: $md-threshold)
            font-size: 3rem
            height: 10rem

    &__title
        specialfont()

    &__stat
        margin-bottom: 5rem
        background-color: rgba(24, 28, 31, 0.8)
        outline: 3px solid rgba(24, 28, 31, 0.2)

    &__text
        margin-bottom: 2rem

    &__control
        position: absolute
        cursor: pointer
        right: 1rem

        &--up
            top: -3rem
        &--down
            bottom: -3rem
