.Navbar
    &__link
        display: block
        margin-left: 0.5rem
        margin-right: 0.5rem
        height: 3rem
        line-height: 3rem

        text-align: center
        cursor: pointer

        &--active
            border-bottom: 3px solid $navbar-active-tab-color
