@require '../style/variables'

.Navbar
    &__link
        position: relative
        z-index: 1
        display: block
        padding-left: 0.5rem
        padding-right: 0.5rem
        height: 2.5rem
        line-height: 2.5rem

        @media(min-width: $sm-threshold)
            padding-left: 1rem
            padding-right: 1rem
            height: 3rem
            line-height: 3rem

        text-align: center
        cursor: pointer
        border-bottom: 3px solid transparent
        transition: border-color 0.3s ease-in-out

        &--active
            border-color: $navbar-active-tab-color
