.Navbar
    &__link
        display: block
        padding-left: 1rem
        padding-right: 1rem
        height: 3rem
        line-height: 3rem

        text-align: center
        cursor: pointer
        border-bottom: 3px solid transparent
        transition: border-color 0.3s ease-in-out

        &--active
            border-color: $navbar-active-tab-color
