$ribbon-height = 40px
$ribbon-left-corner-size = 30px
$ribbon-right-corner-size = 10px

.Ribbon
    position: absolute
    right: 0
    top: 4rem
    width: 250px

    &__text
        position: relative
        display: inline-block

        width: calc(100% - 20px)
        height: $ribbon-height
        line-height: $ribbon-height

        padding: 0 (10px + $ribbon-right-corner-size) 0 10px
        background-color: $ribbon-bckgnd-color

        &:before, &:after
            position: absolute
            content: ''
            display: block
            width: 0
            height: 0

        &:before
            top: 0
            left: $ribbon-left-corner-size * -1
            border-right: $ribbon-left-corner-size solid $ribbon-bckgnd-color
            border-bottom: $ribbon-height solid transparent

        &:after
            top: $ribbon-height
            right: 0
            border-right: $ribbon-right-corner-size solid transparent
            border-top: $ribbon-right-corner-size solid $ribbon-border-color
