@require '../../style/variables'

.IntegerStat
    specialfont()

    &__value
        font-size: 5rem
        line-height: 5rem

        @media(min-width: $sm-threshold)
            font-size: 10rem
            line-height: 10rem

    &__subtitle
        font-size: 1.5rem

        @media(min-width: $sm-threshold)
            font-size: 2rem
