@require '../../style/variables'

.Table
    text-align: left
    width: 100%
    border-collapse: collapse

    &__container
        margin-top: -2rem
        margin-bottom: 2rem
        padding: 0 1.5rem
        width: 100%
        min-height: 15rem // for mobile
        max-height: calc(100vh - 24rem) // 24rem is all remaining elements
        overflow-y: scroll

        &::-webkit-scrollbar
            display:none

    &__body__row
        border-top: 1px solid $table-border-color

    &__cell
        padding-top: 0.2rem
        padding-bottom: 0.2rem
