.TimeStat
    specialfont()

    &__value
        font-size: 4rem
        line-height: 4rem

        @media (min-width: $sm-threshold)
            font-size: 7rem
            line-height: 7rem

        @media (min-width: $md-threshold)
            font-size: 10rem
            line-height: 10rem

    &__subtitle
        font-size: 1rem

        @media (min-width: $sm-threshold)
            font-size: 2rem
