@font-face {
    font-family: 'Brandon'
    src: url('style/fonts/brandon-reg-webfont.ttf')
         url('style/fonts/brandon-reg-webfont.eot')
    font-weight: normal
    font-style: italic
}

@font-face {
    font-family: 'BrandonThin'
    src: url('style/fonts/brandon-thin-webfont.ttf')
         url('style/fonts/brandon-thin-webfont.eot')
    font-weight: normal
    font-style: italic
}
