/* Generic properties to position/size objects */

// Resizing
.full-height
    height: 100%
.full-width
    width: 100%

// Centering
.padded
    padding: 0.5rem
    @media (min-width: $sm-threshold)
        padding: 1rem
.very-padded
    padding: 1rem
    @media (min-width: $sm-threshold)
        padding: 2rem
    
.hidden
    display: none

// Unified margin top value to separe blocks
.mtop
    margin-top: 1rem
.mtop-big
    margin-top: 2rem
.mtop-bigger
    margin-top: 4rem

// Flex. Grid system with 1rem gutters between each element in every direction.
// Containers
.fx-container-fluid
    margin-left: auto
    margin-right: auto
    padding-left: 2rem
    padding-right: 2rem

.fx-container
    margin-left: auto
    margin-right: auto

    @media only screen and (min-width: $sm-threshold)
        width: $sm-threshold
    @media only screen and (min-width: $md-threshold)
        width: $md-threshold
    @media only screen and (min-width: $lg-threshold)
        width: $lg-threshold

// Rows/columns
.fx-row
    display: flex
    position: relative
    flex-direction: row
    margin-right: -0.5rem
    margin-left: -0.5rem
    margin-bottom: -1rem
    &.fx-reverse
        flex-direction: row-reverse

.fx-col
    display: flex
    position: relative
    flex-direction: column
    &.fx-reverse
        flex-direction: column-reverse

// Modifiers
.fx-wrap
    flex-wrap: wrap
.fx-wrap-reverse
    flex-wrap: wrap-reverse

.fx-grow
    flex-grow: 1

prefixed-classes($prefix)
    .fx-col-{$prefix}
        width: auto
        padding-left: 0.5rem
        padding-right: 0.5rem
        padding-bottom: 1rem

    for $column in (1..12)
        .fx-col-{$prefix}-{$column}
            width: (100*$column/12)%
            padding-left: 0.5rem
            padding-right: 0.5rem
            padding-bottom: 1rem
        .fx-col-{$prefix}-offset-{$column}
            margin-left: (100*$column/12)%

    // Primary alignement
    .fx-start-{$prefix}
        justify-content: flex-start
    .fx-center-{$prefix}
        justify-content: center
    .fx-end-{$prefix}
        justify-content: flex-end
    .fx-around-{$prefix}
        justify-content: space-around
    .fx-between-{$prefix}
        justify-content: space-between

    // Secondary alignement (perpendicular to container)
    .fx-top-{$prefix}
        align-items: flex-start
    .fx-middle-{$prefix}
        align-items: center
    .fx-bottom-{$prefix}
        align-items: flex-end

prefixed-classes('xs')
@media(min-width: $sm-threshold)
    prefixed-classes('sm')
@media(min-width: $md-threshold)
    prefixed-classes('md')
@media(min-width: $lg-threshold)
    prefixed-classes('lg')

// Hide classes
@media(max-width: $sm-threshold - 1px)
    .fx-hide-xs
        display: none !important
@media(max-width: $md-threshold - 1px) and (min-width: $sm-threshold)
    .fx-hide-sm
        display: none !important
@media(max-width: $lg-threshold - 1px) and (min-width: $md-threshold)
    .fx-hide-md
        display: none !important
@media(min-width: $lg-threshold)
    .fx-hide-lg
        display: none !important
