// Reset style on base html tags
html
    height: 100%
    font-size: $base-font-size
    font-family: 'Noto Sans', sans-serif
    color: $base-font-color

body
    min-height: 100%

html, body, h1
    padding: 0
    margin: 0
