// Font sizes
.big
    font-size: 1.5rem

.bigger
    font-size: 2rem

.large
    font-size: 3rem

.huge
    font-size: 5rem

.text-center
    text-align: center

.text-uppercase
    text-transform: uppercase

// Fonts
specialfont()
    font-family: 'BrandonThin'
    font-weight: 100
    text-shadow: 1px 1px rgba(0,0,0,0.5)
