// Palette of colors - do not use directly. Create intermdiary variables instead
$dark-grey = #21272B
$light-grey = #FAFAFA
$yellow = #ccac55
$blue = steelblue
$green = mediumseagreen
$red = crimson
$brown = #69551f

$sm-threshold = 768px
$md-threshold = 992px
$lg-threshold = 1200px

$base-font-size = 14px
$base-font-color = $light-grey

$navbar-active-tab-color = $yellow

$ribbon-bckgnd-color = $yellow
$ribbon-border-color = $brown

$link-color = $blue
$link-color-hover = $yellow
$footer-color = $dark-grey
