// Palette of colors - do not use directly. Create intermdiary variables instead
$dark-grey = #21272B
$light-grey = #FAFAFA
$yellow = #ccac55
$blue = steelblue
$green = mediumseagreen
$red = crimson
$brown = #69551f

$sm-threshold = 768px
$md-threshold = 992px
$lg-threshold = 1200px

$base-font-size = 14px
$base-font-color = $light-grey

$navbar-active-tab-color = $yellow

$ribbon-height = 40px
$ribbon-left-corner-size = 30px
$ribbon-right-corner-size = 10px
$ribbon-bckgnd-color = $yellow
$ribbon-border-color = $brown

$link-color = $blue
$link-color-hover = $yellow
$footer-color = $dark-grey

$table-border-color = $light-grey

// Fonts mixin
specialfont()
    font-family: 'BrandonThin', sans-serif
    font-weight: 100
    text-shadow: 1px 1px rgba(0,0,0,0.5)
